.app {
  min-height: 100vh;
  display: flex;
  background-color: #f8f8f8;
  > div {
    flex: 1;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
